.deps/
.dirstamp
.libs/
Makefile
Makefile.in
stamp-h?
*.[ao]
*.l[ao]
/INSTALL
/aclocal.m4
/autom4te.cache/
/config*.lineno
/config.log
/config.status
/configure
/skeletonmm-*.tar.*
/libtool
/codegen/extradefs/generate_extra_defs
