[D-BUS Service]
Name=org.gtk.GDBus.Examples.ObjectManager
Exec=/home/alter0ne/rtk_openwrt_sdk/build_dir/host/glib-2.41.1/gio/tests/gdbus-example-objectmanager-server
